* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181a1b;
  height: 100vh;
}
